@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
:root{
    --blue-violet:#5A82FC;
    --dark-blue:#141726;
    --white:#FFFFFF;
    --light-blue:#253058;
    --gray:#B6B7C8;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--white);
    list-style: none;
}

body{
    background: var(--dark-blue);
}
.route-con{
    margin: 0 auto;
    width: 70%;
}
.navBar-fixed{
    position: fixed;
    background: var(--dark-blue);

    width: 100%;
    z-index: 9999;
   
}
.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0;
}
.logo > h1{
    letter-spacing: 2px;
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
}

.navLinks{
    display: flex;
    flex-direction: row;
}
.navLinks li{
    margin: 1rem 2.5rem;
    font-size: 1rem;
   
}
.navLinks li a{
    color: var(--gray);
    display: inline-block;
    position: relative;
}
.navLinks li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue-violet);
    transform-origin: center;
    transition: transform .2s ease-out;
}
.navLinks li a:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}
.navLinks li a:hover{
    color: var(--blue-violet);
    transition: 1s ease-out;
}

.menu-burger{
    cursor: pointer;
    display: none;
}
.menu-burger>div{
    height: 4px;
    width: 40px;
    border-radius: 2px;
    margin: .5rem;
    background: var(--white);
}
/*home section style*/
.home,.about{
    height: 100vh;
}

.home-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%,-50%);
    width: 50%;
}
.home-section > div{
    display: flex;
    flex-direction: column;
    line-height: 70px;

}
.home-section > div > span{
    font-size: 2rem;
}
.home-section > div > small{
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
}
.home-section > div > h1{
    font-size: 3.5rem;
    letter-spacing: 1px;
}
.home-section > div > h1 > span{
    color: var(--blue-violet);
}
.home-section > div > p{
    color: var(--gray);
    width: 450px;
    line-height: 30px;
    font-size: 1.1rem;
}
.home-section  > a {
    padding: .7rem;
    color: var(--blue-violet);
    border: 2px solid var(--blue-violet);
    box-shadow:-1px 2px 4px 1px rgba(45, 77, 173, 0);
    
}

.home-section >  a:hover {
    background: var(--light-blue);
    color: var(--white);
}
/*About me style*/
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.about > .about-section{
    width: 100%;
    padding: 1rem;
   
}
.about > .about-section > h1{
    font-size: 3rem;
    margin-top: -1rem;
}
.about > .about-section > p,
.about > .about-section >p> b{

    color: var(--gray);
}
.about > .about-section > p{
    font-size: 1rem;
    margin: 1rem 0;
}
.about > .about-section > img{
    width: 350px;
    height: 350px;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    box-shadow: -5px 10px 31px 0px rgba(46, 40, 79, 0.291);
    
}
@media (max-width:768px) {
    .route-con{
        margin: 0 auto;
        width: 90%;
      
    }
    .logo>h1,.menu-burger{
        padding: 1rem;
    }
    .navBar{
        width: 100%;
        justify-content:space-between;
    }
    .navLinks .active{
        display: flex;
    }
    .navLinks {
        display: none;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 70px;
        text-align: center;
        width:100%;
        height: 100vh;
        background:#1b233f;
        z-index: 9999;
    }
    .menu-burger{
        display: block;
    }
    .home-section{
        transform: translate(-50%,-50%);
        width: 100%;
        text-align: center;
    }
    .home-section > div > p{
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    .home-section > div > h1,.about>.about-section > h1{
        font-size: 2rem;
      
    }
    .about{
        flex-direction: column;
        justify-content: flex-start;
    }
    .about>.about-section > h1,.about > .about-section > p{
       text-align: center;
        
    }
    .about > .about-section > img{
        width: 250px;
        height: 250px;
        
    }
}
/*For  Smartphones*/
/* http url  -- https://github.com/patacsilpam/react-portfolio.git*/
@media (max-width:468px) {
    .home-section > div > p{
        width: 100%;
    }
    .about>.about-section > h1{
        padding: 1rem;
    }
}